[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
sqlalchemy = "*"
pyjwt = "*"
flask-sqlalchemy = "*"
mysql-connector-python = "*"
bcrypt = "*"
flask-cors = "*"

[dev-packages]

[scripts]
dev = "flask run"

[requires]
python_version = "3.10"
